<!doctype html>
<html>
<head>
    <title>Gift Exchange</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

<!-- ================= -->
<!-- running Header for navigation -->
<!-- ================= -->
<header><% include partials/header.ejs %></header>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> <%= user.local.firstnamelastname %></h3>

                    <p>
                        <!-- <strong>id</strong>: <%= user._id %><br> -->
                        <strong>Name</strong>: <%= user.local.firstnamelastname %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <!-- <strong>password</strong>: <%= user.local.password %><br> -->
                        <strong>Location</strong>: <%= user.local.whereareyoufrom %><br>
                        <strong>Relationship</strong>: <%= user.local.relationship %><br>
                        <strong>What is a small gift unique to where you live</strong>: <%= user.local.giftforex %><br>

                    </p>
                    <button id="randomBtn" class="btn btn-default btn-sm">Random btn</button>
                                        
            </div>
        </div>

    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Random Match</h3>

                    <p>
                        <!-- <strong>id</strong>: <%= user._id %><br> -->
                        <strong>Name</strong>: ''''John test''''<br>
                        <strong>email</strong>: ''''John@test.com''''<br>
                        <!-- <strong>password</strong>: <%= user.local.password %><br> -->
                        <strong>Location</strong>: '''frustration island'''<br>
                        <strong>Relationship</strong>: '''Know a guy who knows a guy'''<br>
                        <strong>What is a small gift unique to where you live</strong>: ''bizz-buzz foobars'''<br>

                    </p>                                        
            </div>
        </div>

    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="../app/controller/proCont.js"></script> -->
    <script type="text/javascript">
    $(document).ready(function() {
        console.log('before the button')
        $('randomBtn').on('click', function() {
        console.log('inside the btn')
        var randomUserGen = 
            User.count().exec(function (err, count) {

                    // Get a random entry
                    var random = Math.floor(Math.random() * count)
                    
                    // Again query all users but only fetch one offset by our random #
                    User.findOne().skip(random).exec(
                        function (err, result) {
                        console.log(result) 
                        })
                    })                 
    })
    })
    </script>
</div>
</body>
</html>