<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <!-- <strong>id</strong>: <%= user._id %><br> -->
                        <strong>email</strong>: <%= user.local.email %><br>
                        <!-- <strong>password</strong>: <%= user.local.password %><br> -->
                        <strong>test test test test test test</strong>: <%= user.local.test %><br>
                        <strong>Name</strong>: <%= user.local.test %><br>
                        <strong>Location (Country, State, City)</strong>: <%= user.local.test %><br>
                        <strong>What are you most excited for</strong>: <%= user.local.test %><br>
                        <strong>What is a small gift unique to where you live</strong>: <%= user.local.test %><br>
                        <strong>Will you bring that small gift the wedding</strong>: <%= user.local.test %><br>

                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>